# Node modules (frontend)
frontend/node_modules/

# Python virtual environment (backend)
backend/venv/

# Environment variables
.env

# Build files (React frontend)
frontend/build/

# OS-specific files
.DS_Store
Thumbs.db

